body{
    background-color: pink;
}

.requests-table-form{
    text-align: center;
    margin: 0 auto;
    width: 1000px;
}

.registration-form,
.request-form,
.requests-table-form{
    display: none;
}

.entry-form,
.registration-form,
.request-form{
    margin: 0 auto;
    width: 600px;
}

.entry-form label,
.registration-form label,
.request-form label{
    text-align: left;
}

.registration-form li > div,
.request-form li > div{
    display: inline-block;
}

#new-login-error, #new-password-error,
#new-email-error,#new-name-error,
#new-age-error,
#medName-error, #medForm-error,
#medDosage-error,#medAmount-error,
#medFirm-error
{
    background-color: grey;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

#new-login-error-msg, #new-password-error-msg,
#new-email-error-msg,#new-name-error-msg,
#new-age-error-msg,
#medName-error-msg, #medForm-error-msg,
#medDosage-error-msg,#medAmount-error-msg,
#medFirm-error-msg
{
    font-size: 13px;
}

.request-form label{
    text-align: left;
}

.requests-table-form input,
.requests-table-form button,
.requests-table-form select{
    width: 100px;
    text-align: center;
}

.requests-table-form p{
    text-align: left;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

label{
    display: inline-block;
    width: 150px;
    text-align: right;
}

input{
    width: 150px;
}

select{
    width: 158px;
}

button{
    text-align: center;
}